<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animal</title>
</head>
<body>
	   <ul>
	   		<li> Name: <%= animals.name %></li>
	   		<li> Weight: <%= animals.legs %> </li>
	   </ul>
       <hr>
	<button><a href="/bear/<%= animals._id %>/edit">Edit</a></button>
	<button><a href="/">Back</a></button>
</body>
</html>